.revivews
    padding-top: 100px
    padding-bottom: 100px
    &__info
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        &-title
            font-weight: bold
            font-size: 35px
            color: $titlecolor
        &-desc
            padding-top: 20px
    &__cardlist
        display: flex
        justify-content: center
        padding-top: 50px
        flex-direction: column
        align-items: center
    &__card
        width: 0px
        height: 0px
        border: 2px solid #c4c4c4
        border-radius: 15px
        transition: box-shadow 0.4s ease-in-out, color 0.4s ease-in-out, opacity 1s ease
        cursor: pointer
        opacity: 0
        > * 
            opacity: 0
        &.active
            opacity: 1
            max-width: 400px
            min-height: 230px
            width: auto
            height: auto
            > * 
                opacity: 1
        &:hover
            border: 2px solid $accent
            box-shadow: 0 0 10px $accent, 0 0 20px $accent, 0 0 40px $accent, 0 0 50px $accent
        &-rate
            i
                color: #fceb04
        &-info
            display: flex
            align-items: center
            justify-content: space-around
            padding-top: 15px
        &-desc
            font-weight: bold
            padding: 15px 
    &__slider
        display: flex
        justify-content: space-evenly
        padding-top: 20px
        &-arrow
            border-radius: 50%
            overflow: hidden
            width: 39px
            height: 39px
            transition: box-shadow 0.4s ease-in-out, color 0.4s ease-in-out
            &:hover
                box-shadow: 0 0 10px $accent, 0 0 20px $accent, 0 0 40px $accent, 0 0 50px $accent    
        i
            font-size: 40px
            cursor: pointer
            line-height: 40px
            &:hover
                color: $accent        
@media (max-width:540px)
    .revivews__card.active
        max-width: 300px
        