.info
    width: 100%
    max-width: 845px
    border: 1px solid #c4c4c4
    border-radius: 10px
    cursor: pointer
    transition: box-shadow 0.4s ease-in-out, color 0.4s ease-in-out
    &:hover
       box-shadow: 0 0 10px #c4c4c4, 0 0 20px #c4c4c4, 0 0 40px #c4c4c4, 0 0 50px #c4c4c4
    &__database
        display: flex
        justify-content: space-evenly
        padding: 40px 0px
        span
            font-weight: bold
        img
            padding-right: 40px
    &__desc
        display: flex
        justify-content: center
    &__slash
        border: 1px solid #c4c4c4
@media (max-width:992px)
    .info
        max-width: 700px
@media (max-width:768px)
    .info
        max-width: 100px
        &__database
            flex-direction: column
            padding: 10px 0px
            img
                padding-right: 0
        &__desc
            text-align: center
            flex-direction: column
            padding-bottom: 10px
            align-items: center
            padding-top: 10px
            &:first-child
                padding: 0
            
            
            
      

            

