.info
    width: 60%
    border: 1px solid #c4c4c4
    border-radius: 10px
    cursor: pointer
    transition: box-shadow 0.4s ease-in-out, color 0.4s ease-in-out
    &:hover
       box-shadow: 0 0 10px #c4c4c4, 0 0 20px #c4c4c4, 0 0 40px #c4c4c4, 0 0 50px #c4c4c4
    &__database
        display: flex
        justify-content: space-evenly
        margin: 40px 0px 
        span
            font-weight: bold
        img
            padding-right: 40px
    &__desc
        display: flex
        justify-content: center
    &__slash
        border: 1px solid #c4c4c4
    
        

